<div class="container mtb">
    <div class="row centered">
        <h3 class="mb">Take A Look At Communities We Are Involved In...</h3>
	    <div class="img_container1">
         <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/docker_member.jpg" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Docker Member</h3>
				<a href="https://www.docker.com/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
            
        </div><! --/col-lg-2 -->	 	
        <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/apache-stratos-logo.png" | prepend: site.baseurl }}" alt="Contributor">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="http://stratos.apache.org" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    

	    </div><!-- he wrap -->
            
        </div>
	    <! --/col-lg-2 -->
		        <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/o4j-misc.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Member and Contributor</h3>
				<a href="http://www.openstack4j.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
           
        </div><! --/col-lg-2 -->
	      <! --/col-lg-2 -->
		        <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/flocker.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="https://clusterhq.com/flocker/introduction/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
           
        </div><! --/col-lg-2 -->
	      <! --/col-lg-2 -->
		        <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/OpenStack_Logo.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="http://www.openstack.com" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
	    </div>	 <! --/col-lg-2 -->
		  
	 		    <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/terraform.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="https://www.terraform.io" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
	    </div>
	    <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/packer-logo.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="https://www.packer.io/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
	    </div>
	    <div class="img_block">
            <div class="he-wrap tpl6">
            <img src="{{ "/assets/img/apache-mesos.png" | prepend: site.baseurl }}" alt="Member">
		    <div class="he-view">
			<div class="bg a0" data-animate="fadeIn">
				<h3 class="a1" data-animate="fadeInDown">Contributor</h3>
				<a href="http://mesos.apache.org/" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
			</div><!-- he bg -->
		    </div><!-- he view -->	    
            </div><!-- he wrap -->
	    </div>
		
	  </div>
    </div><! --/row -->
</div><! --/container -->
